@if(loader) {
<div class="loaderwindow">
  <img class="load" src="assets\loader.svg" alt="" />
</div>
} @else {
<div class="container-fluid">
  <div class="friends-list">
    <div class="heading">Chats</div>
    <div class="cover">
      <p class="error-message">Send a letter to new make friends</p>
      @for(friend of friends; track friend._id; let idx = $index) {
      <div
        class="friend"
        [attr.data-index]="idx"
        (click)="onContactClick(friend)"
      >
        <div class="image">
          <img class="ok" src="{{ friend.photoUrl }}" alt="" />
        </div>
        <div class="wrapper">
          <p class="name">{{ friend.username }}</p>
          <!-- TODO: Add last message -->
          <!-- <p class="last-message">{{ friend.last_message }}</p> -->
        </div>
        <!-- TODO: Add last message time -->
        <!-- <div class="time">{{ friend.time }}</div> -->
      </div>
      }
    </div>
  </div>

  <div class="chat-window">
    @if(!showTextField) {
    <div class="show-instruction">
      <h4 class="instruction">
        <span id="one">Click on a Friend</span>
        to send and receive messages
        <span id="two"
          ><i class="fa-solid fa-lock"></i>All messages are end to end
          encrypted</span
        >
      </h4>
    </div>
    } @else {
    <div class="user-info">
      <div
        class="propic"
        title="Upload your pfp"
        [style.background-image]="'url(' + currentUser.photoUrl + ')'"
        style="
          background-size: 90% 90%;
          background-position: center;
          background-repeat: no-repeat;
        "
      ></div>
      <div class="name">
        <h4 class="currentUserFname">{{ currentUser.fname }}</h4>
        <p class="currentUserUname">{{ currentUser.username }}</p>
      </div>
      <div ngbDropdown class="dropdown">
        <button
          type="button"
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Menu
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button (click)="deletechat()" ngbDropdownItem>Delete Friend</button>
        </div>
      </div>
    </div>

    <div class="scroller">
      <div class="message-window">
        @for(messages of chat; track messages._id) {
        <p class="date-collection">{{ messages._id }}</p>
        @for(message of messages.messages; track message._id; let idx = $index)
        { @if(message.sender == currentUser._id) {
        <div class="message friend-message">
          <strong>{{ message.message }}</strong>
          <p>{{ message.createdAt | date : "HH:mm a" }}</p>
        </div>
        } @else {
        <div class="message user-message">
          <strong>{{ message.message }}</strong>
          <p>{{ message.createdAt | date : "HH:mm a" }}</p>
        </div>
        } } }
      </div>
    </div>
    <div class="input mt-2">
      <div class="fancy-envelope"><i class="fa-solid fa-envelope"></i></div>
      <input
        type="text"
        class="chatInput"
        name="title"
        [(ngModel)]="msg"
        (keyup.enter)="send()"
      />
      <button
        class="btn btn-send btn-primary"
        value="add a post"
        (click)="send()"
      >
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
    }
  </div>
</div>
}
